:root {
    --background-page: #0b0b0b;
    --color-text: #F2F2F2;
    --color-logo: #9ebbfc;
}

/* ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-page);
    height: 100vh;
}

.interface {
    max-width: 80rem;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contact button {
    padding: .625rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--color-logo);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: .2s;
}

.btn-contact button:hover {
    box-shadow: 0px 0px 10px var(--color-logo);
    transform: scale(1.05);
}

.title {
    color: var(--color-logo);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

/* HEADER */
header {
    padding: 2.5rem 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7D7D7D;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: var(--color-logo);
    transform: scale(1.15);
}

.menu-desktop ul li {
    display: inline;
    padding: 0 2.5rem;
}

/* start SECTION */
.start {
    padding: 2.5rem 4%;
}

.start .flex {
    align-items: center;
    justify-content: space-evenly;
    gap: 5.5rem;
}

.left-side {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 3rem;
}

.left-side h1 {
    color: var(--color-text);
    font-size: 4.5rem;
    line-height: 3rem;
}

.left-side p {
    color: var(--color-text);
    font-size: 2rem;
    border-right: 4px solid;
    /* width: 23ch;
    white-space: nowrap;
    overflow: hidden; */
    animation: blinking 0.5s infinite step-end alternate;
}

.right-side img {
    width: 25rem;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* ABOUT SECTION */
.about .flex {
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

.about {
    padding: 7rem 4%;
    background-color: #121212;
}

.about-left-side img{
    width: 35rem;
    height: 40rem;
    border-radius: 1rem;
    transition: .2s;
}

.about-left-side img:hover {
    transform: scale(1.03);
}

.about-right-side h2 {
    color: var(--color-logo);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.about-right-side p {
    color: #c1c1c1;
    font-size: 1.2rem;
}

/* KNOWLEDGE SECTION */
.knowledge {
    padding: 7rem 4%;
}

.knowledge .flex {
    gap: 3.75rem;
}

.knowledge h2 {
    text-align: center;
}

.knowledge-box {
    color: var(--color-text);
    padding: 2.5rem;
    border-radius: 1.25rem;
    transition: .2s;
}

.knowledge-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #a5a5a5;
}

.knowledge-box i {
    font-size: 4.5rem;
    color: var(--color-logo);
}

.knowledge-box h3 {
    font-size: 1.75rem;
    margin: 1rem 0;
}




/* KEYFRAMES */
/* Imagem flutuante */
@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 1.5rem;
    }
}

/* Dgitação do inicio */
/* @keyframes typing {
    from {
        width: 0;
    }
} */

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}