:root {
    --background-page: #0b0b0b;
    --color-text: #F2F2F2;
    --color-logo: #9ebbfc;
}

/* ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-page);
    height: 100vh;
}

.interface {
    max-width: 80rem;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contact button {
    padding: .625rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--color-logo);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: .2s;
}

.btn-contact button:hover {
    box-shadow: 0px 0px 10px var(--color-logo);
    transform: scale(1.05);
}

.title {
    color: var(--color-logo);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#about, 
#knowledge, 
#projects, 
#contact {
    scroll-margin-top: 5rem; /* Use um valor um pouco maior que a altura total do seu header (que você estimou em 4rem) */
}

/* HEADER */
main {
    padding-top: 8rem;
}

header {
    padding: .5rem 4%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: var(--background-page);
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7D7D7D;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: var(--color-logo);
    transform: scale(1.15);
}

header nav.menu-desktop ul li {
    display: inline;
    padding: 0 2.5rem;
}

.btn-social-nav i {
    font-size: 2rem;
    color: #7D7D7D;
    margin-left: 1rem;
    transition: .3s;
}

/* Menu mobile */
.btn-open-menu i {
    color: var(--color-logo);
    font-size: 2.5rem;
}

.menu-mobile {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 0%;
    overflow: hidden;
    background-color: var(--background-page);
    transition: 1s;
}

.menu-mobile.open-menu {
    width: 70%;
}

.menu-mobile.open-menu ~ .overlay-menu-mobile {
    display: block;
}

.menu-mobile .btn-close {
    padding: 1.5rem 8%;
}

.menu-mobile .btn-close i {
    color: var(--color-logo);
    font-size: 2rem;
}

.menu-mobile nav ul {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 16%;
}

.menu-mobile nav ul li a{
    color: var(--color-text);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1.2rem 4%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    color: var(--color-logo);
}

.overlay-menu-mobile {
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    display: none;
}

/* START SECTION */
.start {
    padding: 2.5rem 4%;
}

.start .flex {
    align-items: center;
    justify-content: space-evenly;
    gap: 5.5rem;
}

.left-side {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 3rem;
}

.left-side h1 {
    color: var(--color-text);
    font-size: 4.5rem;
    line-height: 3rem;
}

.left-side p {
    color: var(--color-text);
    font-size: 2rem;
    border-right: 4px solid;
    animation: blinking 0.5s infinite step-end alternate;
}

.right-side img {
    width: 25rem;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* ABOUT SECTION */
.about .flex {
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

.about {
    padding: 7rem 4%;
    background-color: #121212;
}

.about-left-side img{
    border-radius: 1rem;
    transition: .2s;
}

.about-left-side img:hover {
    transform: scale(1.03);
}

.about-right-side h2 {
    color: var(--color-logo);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.about-right-side p {
    color: #c1c1c1;
    font-size: 1.2rem;
}

/* KNOWLEDGE SECTION */
.knowledge {
    padding: 7rem 4%;
}

.knowledge .flex {
    gap: 3.75rem;
}

.knowledge h2 {
    text-align: center;
}

.knowledge-box {
    color: var(--color-text);
    padding: 2.5rem;
    border-radius: 1.25rem;
    transition: .2s;
}

.knowledge-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #a5a5a5;
}

.knowledge-box i {
    font-size: 4.5rem;
    color: var(--color-logo);
}

.knowledge-box h3 {
    font-size: 1.75rem;
    margin: 1rem 0;
}

/* PROJECTS SECTION */
.projects {
    padding: 7rem 4%;
    background-color: #121212;
    box-shadow: 0 0 30px 10px #2b2b2b;
}

.projects .flex {
    justify-content: space-around;
}

.projects h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.img-port {
    width: 22.5rem;
    height: 28.75rem;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 2.5rem;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    background-color: #0000006a;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0;
    color: var(--color-text);
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* FORM SECTION */

.form {
    padding: 5rem 4%;
}

.form h2 {
    text-align: center;
}

form {
    max-width: 31.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

form input, textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 1.25rem 1rem;
    border-radius: 1rem;
    color: var(--color-text);
    font-size: 1.125rem;
}

form textarea {
    resize: none;
    height: 12.5rem;
}

form .button {
    margin-top: 1.125rem;
    text-align: center;
}

form .button input {
    width: 7.5rem;
    background-color: var(--color-logo);
    color: var(--background-page);
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form .button input:hover {
    box-shadow: 0px 0px 10px var(--color-logo);
    transform: scale(1.05);
}
/* FORM SECTION */

/* FOOTER */
footer {
    padding: 2.75rem 4%;
    box-shadow: 0 0 30px 10px #2b2b2b;
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

.btn-social i {
    font-size: 2rem;
    color: #7D7D7D;
    margin-left: 1rem;
    transition: .3s;
}

.btn-social i:hover {
    transform: scale(1.05);
    color: var(--color-logo);
}

.line-footer {
    padding: 2rem 0;
}

.border {
    border-top: 2px solid var(--color-logo);
}

.line-footer p {
    color: var(--color-logo);
}

.line-footer p i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.line-footer p a {
    color: var(--color-text);
}
/* FOOTER */


/* KEYFRAMES */
/* Imagem flutuante */
@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 1.5rem;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

/* RESPONSIVEL */
@media screen and (max-width: 1020px) {
    /* Padrão */
    .interface {
        max-width: 100%;
    }

    .flex {
        flex-direction: column;
    }
    /* Fim do padrão */

    /* HEADER */
    .menu-desktop, .btn-social-nav {
        display: none;
    }

    /* START */
    .left-side {
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }


    .left-side h1 {
        font-size: 2rem;
        line-height: 5rem;
        text-align: center;
    }

    .left-side p {
        font-size: 1.5rem;
    }

    .right-side img {
        width: 15rem;
    }

   
    /* ABOUT */
    .about {
        padding: 4rem 8%;
    }

    .about .flex {
        flex-direction: column-reverse;
    }

    .about-left-side img {
        width: 100%;
        height: 100%;
    }

    /* Knowledge */
    .knowledge {
        padding: 2.5rem 8%;
    }


    /* PROJECTS */
    .projects {
        padding: 7rem 8%;
    }

    .img-port {
        width: 100%;
        max-width: 22.5rem;
        margin: 0 auto;
        height: 28.75rem;
        background-size: cover;
        background-position: 100% 0%;
        transition: 5s;
        cursor: pointer;
        border-radius: 2.5rem;
        position: relative;
    }
 
    .projects .flex {
        gap: 3rem;
    }

    /* Footer */
    footer p {
        text-align: center;
    }
}